<link rel="stylesheet" href="/assets/css/main.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet"> 

<style>
    #BackgroundGradFooter {
    background-image: linear-gradient(to top, rgb(0, 102, 255), rgba(5, 193, 255), rgb(255, 255, 255));
    justify-content: center;
  }
  .centerText{
      text-align: center;
      margin: auto;
      width: 50%;
    }
</style>

<div id = "BackgroundGradFooter">
    <div style="display:inline-block; vertical-align:middle; text-align:center">
        <a href="mailto:seaghan00@gmail.com" ><img src="{{site.baseurl}}/assets/images/EmailWhite.png" style="vertical-align:middle;margin:5%" width = "30px" height = "30px"></a>
        <a href="https://github.com/SeaghanEnnis" ><img src="{{site.baseurl}}/assets/images/GithubWhite.png" style="vertical-align:middle;margin:5%" width = "30px" height = "30px"></a>
        <a href="https://www.linkedin.com/in/seaghan-ennis" ><img src="{{site.baseurl}}/assets/images/LinkedinWhite.png" style="vertical-align:middle;margin:5%" width = "30px" height = "30px"></a>
        <a href="https://www.instagram.com/seaghanennis" ><img src="{{site.baseurl}}/assets/images/InstagramWhite.png" style="vertical-align:middle;margin:5%" width = "30px" height = "30px"></a>
        <a href=""><img src="{{site.baseurl}}/assets/images/Freemasonry.png" style="vertical-align:middle;margin:5%" width = "30px" height = "30px"></a>
    </div>
</div>
